<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="items-container left-container p-5"
           dnd-droppable
           [dropZones]="['zone2']"
           (onDropSuccess)="rightToLeft($event)">
        <div class="p-2 pl-3 pr-3 item d-flex justify-content-between"
             *ngFor="let item of left"
             dnd-draggable
             [dropZones]="['zone1']"
             [dragEnabled]="true"
             [dragData]="item">
          <span> {{item.label}} </span>
          <span> {{item.type}} </span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="items-container right-container p-5"
           dnd-droppable
           [dropZones]="['zone1']"
           (onDropSuccess)="leftToRight($event)">

        <div class="p-2 inner mb-3"
             *ngFor="let node of right; index as index">
          <tree-node [node]="node" [isRoot]="true" (childDragged)="nestedDropSucess(node)"> </tree-node>
        </div>
      </div>
    </div>
  </div>
</div>
